body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: rgb(255, 255, 255);
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: rgb(255, 255, 255);
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
h4 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */

#menu {
  padding: 5px;
  transition: all 0.8s;

}
#menu.navbar-default {
  background-color: rgb(255, 255, 255);
  border-bottom: solid #CD2E3A;
}
#menu a.navbar-brand {
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(0,71,160);
  text-transform: uppercase;
  margin: 0px 0px 0;
}

.navbar-brand>img {
  float: left !important;
  margin-top: -15px !important;
  padding: 5px 5px;
  margin: 0px 0px 0;
}

#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  /* color: rgb(255, 255, 255) */
  /* Leaves the navbar buttons white if ended with a semi colon */
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 8px 0;

}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
/*display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;*/
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Header Section */

.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/intro-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}

/* Features Section */

#features {
  background: rgb(32, 33, 36);
}
/* Features Section Buttons */
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

/* About Section */

#about {
  margin-top: 10px;
  padding: 75px 0;
  padding: 10px 0;
  border-top: solid #ffffff;
  padding-top: 10px;
  /*background: linear-gradient(to bottom, rgb(205,46,58) 0%, rgb(0,71,160) 100%);*/
  background: url("../img/flag2.png");
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 20px;
  border-bottom: solid #ffffff;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  /* background: linear-gradient(to right, #3317d1 0%, #366cbd 100%); */
  background: rgb(0,71,160);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
  color: white;
}
#about .about-text li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  color: #CD2E3A;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border: solid white;
}
#about p {
  line-height: 24px;
  margin: 30px 0;
  color: white;
}
#page-top{
  background: rgb(32, 33, 36);
}

/* Location Section */

#location {
  /*padding: 70px 0;*/
  margin-top: 70px;
  margin-bottom: 30px;
  background: rgb(32, 33, 36);
}
#location h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-top: -50px;
}
#location h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  margin-left: 0px;
  bottom: 0;
  left: 0;
}
#location h3 {
  font-size: 22px;
  padding-top: 10px;
  margin-bottom: -10px;
  margin: 0 0 10px;
  font-weight: 500;
  color: #fff;
}
#location img {
    background-color: transparent;
    position: relative;
}
#location .section-title {
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  text-align: left;
  margin-top: -20px;
  margin-left: -75px;
  padding-left: 30%;
}
#location .address {
  white-space: pre-line;
  padding-bottom: 10px;
}
#location .contact {
  white-space: pre-line;
  padding-bottom: 10px;
}
#location .follow-us {
  margin-left: -15px;
}
#location .twitter {
  position: relative;
  margin-left: -50px;
}
#location .facebook {
  margin-left: 30px;
  position: relative;
}
#location .google-map {
  border: 0;
}
#location p {
  line-height: 24px;
  margin: 30px 0;
}
#border {
  border: 0;
  margin-left: 0%;
  margin-bottom: -20px;
}
/* Programs Section */
#programs {
  padding: 10px 0;
  background: rgb(32, 33, 36);
  border-top: solid #ffffff;
  background: linear-gradient(to bottom, rgb(205,46,58) 0%, rgb(0,71,160) 100%);
  border-bottom: solid #ffffff;
  padding-bottom: 30px;
}
#programs .container {
  width: 60vw;
}
#programs .section-title {
  margin-bottom: 10px;
}
.programs-item {
  padding: 10px;
}
.program-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
#programs .service-desc {
  margin: 10px 10px 20px;
}
#programs h2 {
  color: #fff;
}
#programs h2::after {
  position: absolute;
  content: "";
  background: rgb(0,71,160);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#programs i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#programs h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#programs img {
  border: solid white;
}
#programs .programs-desc {
  margin-bottom: 40px;
}

/* Gallery Section */

#gallery {
  padding: 10px 0;
  background: rgb(32, 33, 36);
}
.gallery-item {
  margin: 10px -5px 10 -4px;
  padding: 0;
}
.gallery-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Team Section */
#team {
  padding: 10px 0;
  /* border-top: solid #ffffff;
  background: linear-gradient(to bottom, rgb(205,46,58) 0%, rgb(0,71,160) 100%);
  border-bottom: solid #ffffff; */

  border-top: solid #ffffff;
  padding-top: 10px;
  /*background: linear-gradient(to bottom, rgb(205,46,58) 0%, rgb(0,71,160) 100%);*/
  background: url("../img/flag2.png");
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 15px;
  border-bottom: solid #ffffff;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
  border: solid white;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: rgb(255, 255, 255);
}

#team .section-title h2::after {
  background: rgb(0,71,160);
}

/* Instructors Page */
#instructors {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}
#instructors h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#instructors h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#instructors hr {
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
}
#instructors .instructor-item {
  width: 100%;
  padding-bottom: 10px;
}
#instructors .instructor-img {
  width: 240px;
}
#instructors .instructor-paragraph {
  overflow: auto;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  white-space: pre-line;
}
#instructors img {
  width: 300px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#instructors p {
  line-height: 24px;
  margin: 30px 0;
}

/* Program Details Section */

#program-details {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}
#program-details h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#program-details h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#program-details .programs-title {
  white-space: pre-line;
  overflow: auto;
  display: block;
  white-space: pre-line;
  padding: 10px;
}
#program-details img {
  max-width: 100%;
  height: auto;
}
#program-details .programs-title p {
  margin-left: 15%;
  margin-right: 15%;
}
#program-details .programs-title h2 {
  position: relative;
  margin-top: 10px;
}
#program-details .programs-title h2::after {
  position: absolute;
  content: "";
  /* background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%); */
  background: rgb(32, 33, 36);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#program-details hr {
  visibility: hidden;
}
#program-details .program-details-item {
  width: 100%;
  padding-bottom: 50px;
}
#program-details .subprogram-details-item h2 {
  text-transform: none;
}
#program-details .subprogram-details-item h4 {
  margin-top: -15px;
}
#program-details .subprogram-details-item {
  display: inline-block;
  white-space: pre-line;
  vertical-align: top;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-image: linear-gradient(#CD2E3A 0%, #ca6373 100%) 1;
  margin-right: -35px;
  padding-right: 50px;
  width: 49%;
}
#program-details .subprogram-details-item + .subprogram-details-item{
  border-right: none;
  margin-left: 65px;
}
#program-details img {
  width: 500px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#program-details p {
  line-height: 24px;
  margin: 30px 0;
}

/*Gallery Page */

#gallerypage {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}

/*Calendar Page */

#calendar {
  padding: 100px 0;
}
#calendar h6{
  font-size: 20px;
}
#calendar h5{
  font-size: 25px;
}
#calendar h4{
  font-size: 32px;
  font-weight: 300;
  padding: 40px;
  text-transform: none;
  text-align: left; 
}
#calendar h3{
  font-size: 32px;
  font-weight: 300;
  padding: 40px;
  text-align: left;
}
#calendar h2{
  font-size: 32px;
  font-weight: 300;
  padding: 40px;
  text-transform: none;
  text-align: left;
  float: right;
}
#calendar h1{
  position: relative;
  color: #ffffff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}
#calendar .calendar-title{
  white-space: pre-line;
  overflow: auto;
  display: block;
  white-space: pre-line;
  padding: px;
}
#calendar .calendar-title h1{
  position: relative;
  margin-top: 10px;
}
#calendar .calendar-title h1::after{
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%
}

#calendar .calendar-cotainer {
  width: 100%;
  overflow: hidden;
}

#calendar .calendars {
  float: left;
  display: grid;
}

#calendar .weekly-calendar  .monthly-calendar {
  grid-column: 1;
  grid-row: 1;
  display: inline-block;
}

#calendar .weekly-calendar {
  background-color: rgb(63, 63, 63);
  margin-right: 2%;
  margin-bottom: 2%;
}

#calendar .monthly-calendar {
  background-color: rgb(63, 63, 63);
  margin-right: 2%;
}

#calendar .upcoming-events {
  background-color: rgb(63, 63, 63);
  width: 31%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

#calendar .upcoming-event-item {
  background-color: rgb(95, 95, 95);
  margin: 3%;
  padding: 4%;
  width: 94%;
  text-align: center;
}

#calendar .upcoming-event-title {
  padding: 1%;
  margin: 1%;
  text-align: center;
}

#calendar .upcoming-event-date {
  padding: 1%;
  margin: 1%;
  text-align: center;
}

#calendar .upcoming-event-description {
  padding: 1%;
  margin: 1%;
  text-align: center;
}

/* Contact Page */

#contact {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}
#contact h4 {
  font-size: 32px;
  padding-top: 10px;
  margin-bottom: -10px;
  margin: 0 0 10px;
  font-weight: 500;
  color: #fff;
}
#contact h3 {
  font-size: 25px;
  font-weight: 300;
  background-color: 	rgb(40, 41, 45);
  padding: 40px;
}
#contact h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact h1 {
  font-size: 25px;
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
#contact .contact-title {
  white-space: pre-line;
  overflow: auto;
  display: block;
  white-space: pre-line;
  padding: 10px;
}
#contact img {
  max-width: 100%;
  height: auto;
}
#contact .contact-title p {
  margin-left: 15%;
  margin-right: 15%;
}
#contact .contact-title h2 {
  position: relative;
  margin-top: 10px;
}
#contact .contact-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#contact hr {
  visibility: hidden;
}
#contact .test-details-item {
  width: 100%;
  padding-bottom: 50px;
}
#contact .subtest-details-item h2 {
  text-transform: none;
}
#contact .subtest-details-item h4 {
  margin-top: -15px;
}
#contact .subtest-details-item {
  display: inline-block;
  white-space: pre-line;
  vertical-align: top;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-image: linear-gradient(#CD2E3A 0%, #ca6373 100%) 1;
  margin-right: -35px;
  padding-right: 50px;
  width: 49%;
}
#contact .subtest-details-item + .subtest-details-item{
  border-right: none;
  margin-left: 65px;
}
#contact img {
  width: 500px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#contact p {
  line-height: 24px;
  margin: 30px 0;
}

/* Student Page Section */

#student {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}

#student .column {
  padding-top: 30px;
  float: left;
  width: 50%;
}

#student img {
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(#CD2E3A 0%, #ca6373 100%) 1;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
}

#student h1 {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#student h3 {
  text-align: center;
  font-size: 20px;
}

#student button {
  border-radius: 20px;
	border: 1px solid #0a1aff;
	background-color: #0a1aff;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#student input {
  border-radius: 20px;
	border: 1px solid #0a1aff;
	background-color: #0a1aff;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#student label {
  border-radius: 20px;
	border: 1px solid #0a1aff;
	background-color: #0a1aff;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 35px;
  margin-top: 20px;
  margin-right: 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
  display: inline-block;
	transition: transform 80ms ease-in;
  cursor: pointer;
}

#student input[type=file], textarea {
  color: #FFFFFF;
  margin-top: 20px;
  display: none;
}

/* Admin Page Section */

#admin {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}

#admin .row {
  padding-bottom: 30px;
}

#admin .column {
  padding-top: 30px;
  float: left;
  width: 33%;
}

#admin img {
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(#CD2E3A 0%, #ca6373 100%) 1;
  width: 500px;
  height: auto;
}

#admin h1 {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#admin h3 {
  text-align: center;
  font-size: 20px;
}

#admin button {
  border-radius: 20px;
	border: 1px solid #0a1aff;
	background-color: #0a1aff;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#admin .access-code {
  margin: 10%;
}

#admin .form-container h3 {
  margin: 2%;
}

#admin .form-container button {
  margin: 1%;
}

#admin .form-container input {
  margin: 2%;
  color: black;
}

/* Profile Section */

#profile {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}
#profile h1 {
  font-size: 25px;
  padding-left: 10px;
  display: table-cell;
}
#profile h3 {
  text-align: center;
  font-size: 20px;
}
#profile ul {
  display: table;
}
#profile button {
  color: black;
  margin-left: 5px;
}
#profile input[type=text], textarea {
  color: black;
  text-align: left;
}
#profile input[type=submit], textarea {
  color: black;
}
#profile button[type=text], textarea {
  color: black;
}
#profile label {
  display: table-cell;
  text-align: right;
  padding-left: 10px;
  padding-right: 5px;
}
#profile input {
  text-align: center;
  position: relative;
}
#profile img {
  width: 150px;
  height: auto;
  padding-top: 10px;
}
#profile .profileInfo {
  position: relative;
  padding-top: 5%;
  text-align: center;
}
#profile .profileInfo input {
  margin-top: 0px;
} 
#profile .uploadImage input[type=file] {
  position: relative;
  text-align: center;
}
#profile .uploadImage input[type=submit] {
  position: relative;
  text-align: center;
}
 #profile .subPortal {
  margin-left: 20px;
} 
#profile .login-form {
  position: relative;
}
#profile .container h1 {
  padding-top: 30px;
}

/* FAQ Section */

#faq {
  padding: 100px 0;
  background: rgb(32, 33, 36);
}
#faq h1 {
  margin: 0;
}
#faq h2 {
  position: relative;
}
#faq h2 {
  position: relative;
}
#faq h3 {
  font-size: 22px;
  text-align: left;
  padding: 10px;
  margin: 10px;
}
#faq p {
  line-height: 24px;
  text-align: left;
  padding: 10px;
  margin: 10px;
}
#faq hr {
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
}
#faq .faq-title h2 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
#faq .faq-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: 10px;
  left: 50%;
}
#faq .question-nav-links {
  margin: 20px;
  background-color: rgb(40, 41, 45);
}
#faq .question-nav-link-item {
  margin: 20px;
}
#faq .faq-item {
  width: 100%;
  padding-bottom: 50px;
}
#faq .faq-question {
  background-color: 	rgb(40, 41, 45);
  overflow: auto;
  display: flex;
  border-left: 5px solid #d95963;
  align-items: center;
  white-space: pre-line;
}
#faq .faq-question-q {
  padding-left: 15px;
  color: #d95963;
}
#faq .faq-answer {
  background-color: rgb(47, 48, 53);
  overflow: auto;
  display: flex;
  border-left: 5px solid 	#777;
  align-items: center;
  white-space: pre-line;
}
#faq .faq-answer-a {
  padding-left: 15px;
  color: 	#777;
}

/** Login Page Section **/

#login body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

#firstNameError{
  color: red;
}

#lastNameError{
  color: red;
}

#emailError{
  color: red;
}

#passwordError{
  color: red;
}

#passwordConfirmError{
  color: red;
}

#matchingError{
  color: red;
}

#submitMessage{
  color:black;
  padding: 5%;
}

#login h1 {
	font-weight: bold;
	margin: 0;
}

#login h2 {
	text-align: center;
}

#login .login-title h2 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
#login .login-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: 10px;
  left: 50%;
}

#login p {
	font-size: 14px;
	line-height: 20px;
  color: white;
	margin: 20px 0 30px;
}

#login span {
	font-size: 12px;
}

#login a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#login button {
	border-radius: 20px;
	border: 1px solid #ff2f0a;
	background-color: #ff2f0a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#login button:active {
	transform: scale(0.95);
}

#login button:focus {
	outline: none;
}

#login button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#login form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#login input {
	background-color: rgb(204, 204, 204);
	border: none;
	padding: 15px 18px;
	margin: 13px 0;
	width: 100%;
}

#login .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
	max-width: 100%;
	min-height: 600px;
  margin-top: 10%;
}

#login .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#login .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
  color:black;
}

#login .login-container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

#login .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#login .login-container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

#login .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#login .login-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

#login .overlay {
	background: #d4365b;
	background: -webkit-linear-gradient(to right, #ff2f0a, #d4365b);
	background: linear-gradient(to right, #ff2f0a, #d4365b);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#login .login-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

#login .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#login .overlay-left {
	transform: translateX(-20%);
}

#login .login-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

#login .overlay-right {
	right: 0;
	transform: translateX(0);
}

#login .login-container.right-panel-active .overlay-right {
	transform: translateX(20%);
  flex-direction: row;
}

#login login-form {
  padding: 20%;
}


/** SignUp Page Section **/

#sign-up body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

#sign-up h1 {
	font-weight: bold;
	margin: 0;
}

#sign-up h2 {
	text-align: center;
}

#sign-up .login-title h2 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
#sign-up .login-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: 10px;
  left: 50%;
}

#sign-up p {
	font-size: 14px;
	line-height: 20px;
  color: white;
	margin: 20px 0 30px;
}

#sign-up span {
	font-size: 12px;
}

#sign-up a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#sign-up button {
	border-radius: 20px;
	border: 1px solid #0a1aff;
	background-color: #0a1aff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#sign-up button:active {
	transform: scale(0.95);
}

#sign-up button:focus {
	outline: none;
}

#sign-up button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#sign-up form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#sign-up input {
	background-color: rgb(204, 204, 204);
	border: none;
	padding: 15px 18px;
	margin: 13px 0;
	width: 100%;
}

#sign-up .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
	max-width: 100%;
	min-height: 600px;
  margin-top: 10%;
}

#sign-up .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#sign-up .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
  color:black;
}

#sign-up .login-container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

#sign-up .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#sign-up .login-container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

#sign-up .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#sign-up .login-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

#sign-up .overlay {
	background: #387eff;
	background: -webkit-linear-gradient(to right, #0a1aff, #387eff);
	background: linear-gradient(to right, #0a1aff, #387eff);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#sign-up .login-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

#sign-up .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#sign-up .overlay-left {
	transform: translateX(-20%);
}

#sign-up .login-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

#sign-up .overlay-right {
	right: 0;
	transform: translateX(0);
}

#sign-up .login-container.right-panel-active .overlay-right {
	transform: translateX(20%);
  flex-direction: row;
}

#sign-up sign-up-form {
  padding: 20%;
}

/** ResetPassword Page Section **/

#reset-password body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

#reset-password h1 {
	font-weight: bold;
	margin: 0;
}

#reset-password h2 {
	text-align: center;
}

#reset-password .password-title h2 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
#reset-password .password-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: 10px;
  left: 50%;
}

#reset-password p {
	font-size: 14px;
	line-height: 20px;
  color: white;
	margin: 20px 0 30px;
}

#reset-password span {
	font-size: 12px;
}

#reset-password a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#reset-password button {
	border-radius: 20px;
	border: 1px solid #0a1aff;
	background-color: #0a1aff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#reset-password button:active {
	transform: scale(0.95);
}

#reset-password button:focus {
	outline: none;
}

#reset-password button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#reset-password form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#reset-password input {
	background-color: rgb(204, 204, 204);
	border: none;
	padding: 15px 18px;
	margin: 13px 0;
	width: 100%;
}

#reset-password .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
	max-width: 100%;
	min-height: 600px;
  margin-top: 10%;
}

#reset-password .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#reset-password .submit-container {
	left: 0;
	width: 50%;
	z-index: 2;
  color:black;
}

#reset-password .password-container.right-panel-active .submit-container {
	transform: translateX(100%);
}

#reset-password .reset-password-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#reset-password .password-container.right-panel-active .reset-password-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

#reset-password .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#reset-password .password-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

#reset-password .overlay {
	background: #387eff;
	background: -webkit-linear-gradient(to right, #0a1aff, #387eff);
	background: linear-gradient(to right, #0a1aff, #387eff);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#reset-password .password-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

#reset-password .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#reset-password .overlay-left {
	transform: translateX(-20%);
}

#reset-password .password-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

#reset-password .overlay-right {
	right: 0;
	transform: translateX(0);
}

#reset-password .password-container.right-panel-active .overlay-right {
	transform: translateX(20%);
  flex-direction: row;
}

#reset-password reset-password-form {
  padding: 20%;
}

#reset-password img {
  width: auto;
  height: 100%
}

/** Change-Email Page Section **/

#change-email body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

#change-email h1 {
	font-weight: bold;
	margin: 0;
}

#change-email h2 {
	text-align: center;
}

#change-email .email-title h2 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
#change-email .email-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  margin-bottom: 10px;
  left: 50%;
}

#change-email p {
	font-size: 14px;
	line-height: 20px;
  color: white;
	margin: 20px 0 30px;
}

#change-email span {
	font-size: 12px;
}

#change-email a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#change-email button {
	border-radius: 20px;
	border: 1px solid #0a1aff;
	background-color: #0a1aff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#change-email button:active {
	transform: scale(0.95);
}

#change-email button:focus {
	outline: none;
}

#change-email button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#change-email form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#change-email input {
	background-color: rgb(204, 204, 204);
	border: none;
	padding: 15px 18px;
	margin: 13px 0;
	width: 100%;
}

#change-email .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
	max-width: 100%;
	min-height: 600px;
  margin-top: 10%;
}

#change-email .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#change-email .submit-container {
	left: 0;
	width: 50%;
	z-index: 2;
  color:black;
}

#change-email .email-container.right-panel-active .submit-container {
	transform: translateX(100%);
}

#change-email .change-email-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#change-email .email-container.right-panel-active .change-email-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

#change-email .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#change-email .email-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

#change-email .overlay {
	background: #387eff;
	background: -webkit-linear-gradient(to right, #0a1aff, #387eff);
	background: linear-gradient(to right, #0a1aff, #387eff);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#change-email .email-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

#change-email .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#change-email .overlay-left {
	transform: translateX(-20%);
}

#change-email .email-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

#change-email .overlay-right {
	right: 0;
	transform: translateX(0);
}

#change-email .email-container.right-panel-active .overlay-right {
	transform: translateX(20%);
  flex-direction: row;
}

#change-email change-email-form {
  padding: 20%;
}

#change-email img {
  width: auto;
  height: 100%
}


/* Forgot Section */

#forgot h1 {
	font-weight: bold;
	margin: 0;
  color:black;
}

#forgot h3 {
  padding: 12px;
  font-size: 14px;
	line-height: 20px;
	text-align: center;
	margin: 0;
  color:black;
}

#forgot button {
	border-radius: 20px;
	border: 1px solid #ff2f0a;
	background-color: #ff2f0a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#forgot button:active {
	transform: scale(0.95);
}

#forgot button:focus {
	outline: none;
}

#forgot button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#forgot form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#forgot input {
	background-color: rgb(204, 204, 204);
  color:black;
	border: none;
	padding: 15px 18px;
	margin: 13px 0;
	width: 100%;
}

#forgot .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 500px;
	max-width: 50%;
	min-height: 600px;
  margin-top: 10%;
}

#forgot .form-container {
	position: absolute;
	height: 100%;
	transition: all 0.6s ease-in-out;
	width: 100%;
	z-index: 2;
}

/* Footer Section*/

#footer {
  background: #f6f6f6;
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  /*border-bottom: 2px solid #608dfd;*/
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
  #program-details .programs-title p 
  {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 968px) {
  #location p {
    text-align: left;
  }
  #location h2 {
    text-align: left;
  }
  #location h2::after {
    padding-left: 0px;
    margin-left: 40%;
  }
  #location .follow-us {
    margin-left: -15px;
  }
  #location .twitter {
    padding-left: 160px;
  }
  #location img {
    margin-top: -50px;
  }
  #program-details .programs-title p {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  #location h2 {
    text-align: left;
  }
  #location h2::after {
    padding-left: 0px;
    margin-left: 0px;
  }
  #location h3 {
    text-align: left;
  }
  #location .twitter {
    margin-left: -20px;
  }
  #location .facebook {
    margin-left: 30px;
  }
  #program-details .programs-title p {
    margin-left: 0;
    margin-right: 0;
  }
  #program-details .subprogram-details-item {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }
  #program-details .subprogram-details-item + .subprogram-details-item {
    border: none;
    margin: 0;
  }
  #program-details hr {
    visibility: visible;
    background: linear-gradient(to right, #CD2E3A 0%, #ca6373 100%);
  }
  #youtubeplayer .youtubeplayer-item {
    overflow: auto;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    white-space: pre-line;
  }
}